main {
    width: 100%;
    display: flex;
    margin: 250px 0px;
}

.left {
    height: 300px;
    width: 70%;
    margin: 20px 0px;
}

.right {
    height: 300px;
    width: 30%;
    text-align: center;
    /* margin: 20px 0px; */
}

h1 {
    font-size: 80px;
    color: blue;
    margin: auto;
    margin-left: 180px;
    margin-top: 80px;
}

.info {
    font-size: 20px;
    text-wrap: balance;
    margin-left: 180px;
}

.logIn {
    height: 300px;
    width: 85%;
    border: 1px solid grey;
}

form {
    margin-top: 3px;
    margin-bottom: 10px;
}

#signIn {
    height: 50px;
    width: 320px;
    margin-top: 0px;
    border: 1px solid gray;
    border-radius: 3px;
}

#pword {
    height: 50px;
    width: 320px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

.loginBtn {
    color: white;
    border: 1px solid blue;
    font-size: 20px;
    background-color: blue;
    border-radius: 4px;
    border-width: 8px 130px;
    margin-left: 8px;
    margin-bottom: 10px;
}

.forgotBtn{
    margin-left: 65px;
    margin-top: 10px;

}
button{
    height: 50px;
    width: 200px;
    font-size: 15px;
    color: white;
    background-color: green;
    margin-left: 30px;
    margin-top: 70px;
    border: 1px solid green;
    border-radius: 3px;
}
.newPage{
    margin: 20px 70px 0px 0px;
}